body {
  color: #333;
  font: {
    family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    size: 16px;
  }
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  height: auto;
  max-width: 100%;
}


header {
  border-bottom: solid 1px #ddd;
}
 
footer {
  border-top: solid 1px #ddd;
}
